<?xml version="1.0" encoding="UTF-8"?>

<!-- Reference Manual http://logback.qos.ch/manual/index.html -->

<configuration>
	<contextName>account</contextName>
	<jmxConfigurator />

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/huwei/share/log/share.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<logger name="org.hibernate" level="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="com.opensymphony" level="WARN" />
	<logger name="org.apache" level="WARN" />
	<logger name="log4jdbc.dump" level="WARN" />

	<!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"
		level="TRACE" />
	<logger name="org.hibernate.type.descriptor.sql.BasicExtractor"
		level="DEBUG" />
	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
	<logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />

	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.sqltiming" level="ON" />
	<logger name="jdbc.connection" level="OFF" />
	<logger name="com.limijiaoyin" level="INFO" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="org.dozer" level="WARN" />
	<root level="WARN">
		<appender-ref ref="RollingFile" />
	</root>

</configuration>